/* styles.css */

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes fadeInCard {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
  
  @keyframes fadeInText {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }

body{
    animation: fadeInUp 1s ease-out;
}
.gradient-custom-2 {
    /* Gradient background */
    background-image: url('./indie/loginbg1.jpg');
    background-size: cover;
}

.gradient-form {
    background-color: #eee;
    height: 80vh; /* Further reduce the height */
}

.container {
    max-width: 600px; /* Slightly narrower container */
    /* Reduce top padding */
}

.card {
    border: none;
    border-radius: 10px;
}



.text-center img {
    width: 120px; /* Smaller logo */
}

.btn {
    padding: 5px 15px ; /* Smaller buttons */
    font-size: 14px; 
    transition: background-color 0.3s ease;
   /* Smaller font for buttons */
}
.btn:hover {
    background-color: #8c2e39;
}
h4, p {
    font-size: 14px; /* Smaller headings and text */
}

@media (max-width: 768px) {
   
    .col-lg-6 {
        flex: 0 0 100%; /* Stacks elements vertically on smaller screens */
        max-width: 100%;
    }
    
}
